@charset "utf-8";

/*
   Style Sheet
   Author: Manveet Kaur
   Student Id: W0782002
   Date: 2022/06/30
   Filename: styles.css
   Section: 065
*/

/*UNIVERSAL STYLING*/
*{
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    margin: 15;
    padding: 15;  
}

#error{
    background-color: aliceblue;
    color: red;
}

#success{
    background-color: aliceblue;
    color: green;
}

/*FOOTER STYLING*/
footer{
	text-align: center;
	font-size: 1.2em;
	margin-top: 4%;
	border-top: 3px solid rgb(0, 0, 0);
	font-family: Garamond, serif;
	padding-bottom: 20px;
}

/*MEDIA STYLING*/
@media only screen and (min-width: 700px) {
::placeholder {
    color: white;
  }
}

@media only screen and (max-width: 700px) {
    ::placeholder {
        color: black;
      }
}
