@charset "utf-8";
/*
   Style Sheet
   Author: Manveet Kaur
   Student Id: W0782002
   Date: 2022/06/20
   Filename: styles.css
   Section: 065
*/

/*BODY STYLING*/
html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
header footer{
    text-align: center;
    max-width: 1024;
    margin: 0 auto;
}

/*HEADING STYLING*/
h1{
    text-align: center;
}

/*IMAGE STYLING*/
#image{
    border: 5px double rebeccapurple; 
    margin: 0 auto;
    display: block;
}

/* UNIVERSAL SELECTOR*/
*{ 
    font-family: "Courier New", "Lucida Console", "Monaco";
}

/*FOOTER STYLING*/
footer{
	text-align: center;
	font-size: 1.2em;
	margin-top: 4%;
	border-top: 3px solid aliceblue;
	font-family: Garamond, serif;
	padding-bottom: 20px;
}

/*MEDIA STYLING for IMAGES*/
@media only screen and (min-width: 500px) {
    #image{
        width: 60%;
    }
 }
