@charset "utf-8";

/*
   Style Sheet
   Author: Manveet Kaur
   Student Id: W0782002
   Date: 2022/05/30
   Filename: styles.css
   Section: 065
*/

/*MAIN STYLING*/
html, body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: cadetblue;
}

/*HEADING STYLING*/
h1{
    padding: 5px 0px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px lightgray;
}
h2 {
    padding: 5px 0px;
    font-weight: bold;
}

/*LIST STYLING*/
li {
    font-weight: bold;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-sizing: border-box;
}

/*COLUMN STYLING*/
.content{
    float: left;
    padding: 5px;
    width: 24%;
}

.data:after{
    content: "";
    display: table;
    clear: both;
}

/*FOOTER STYLING*/
footer {
	text-align: center;
	font-size: 1.2em;
	margin-top: 4%;
	font-family: cursive;
}

/*MEDIA STYLING*/
@media only screen and (max-width: 700px) {
    body{
        background-color: lightblue;
    }
    .content{
        width: 100%;
    }
}
@media only screen and (max-width: 500px){
    .content{
        font-size: 16px;
    }
}
@media only screen and (min-width: 800px){
    .link{
        display: none;
    }
    
}